* {
  color: black;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  margin: 0;
  box-sizing: border-box;
  background-color: #343131;
}

div.position {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

div.position body {
  height: 100%;
  background-color: #343131;
  z-index: -1;
}

div.position h1 {
  display: flex;
  justify-content: center;
  border: 3px solid #A04747;
  width: 100%;
  margin: 0;
  padding-top: 5vh;
  color: #EEDF7A;
  margin-bottom: 2vh;
  height: auto;
  padding: auto;
  font-size: 7vw; /* Adjust size based on viewport */
}

div.position .instructions {
  color: #EEDF7A;
  font-size: 3vw; /* Make font size responsive */
  width: 80%; /* Adjust width for responsiveness */
  margin-left: 10%;
  height: 15vh;
  border-radius: 5px;
}

div.position input {
  position: relative;
  color: #EEDF7A;
  background-color: #343131;
  border: 2px solid #A04747;
  border-radius: 5px;
  margin-top: 3vh;
  height: 10vh;
  width: 50%; /* Make input width responsive */
  margin-left: 25%; /* Center input */
  font-size: 5vw; /* Adjust font size for responsiveness */
}

input::placeholder {
  color: #EEDF7A;
}

input:hover {
  background-color: #343131;
  border: 2px solid #A04747;
}

input:focus {
  border: 2px solid #A04747;
}

div.position button {
  position: relative;
  margin-top: 20px;
  margin-bottom: 15px;
  width: 30%; /* Make button width responsive */
  font-size: 4vw; /* Adjust font size for button */
  background-color: #A04747;
  color: #EEDF7A;
  border: 2px solid #A04747;
  border-radius: 5px;
  margin-left: 35%; /* Center button */
  height: 10vh;
  padding: 0;
}

div.position button:hover {
  background-color: #EEDF7A;
  color: #A04747;
  cursor: pointer;
}

div.position div[id="output-box"] {
  border: 2px solid #A04747;
  position: relative;
  top: 2vh;
  border-radius: 5px;
  margin-left: 10%;
  height: 20vh;
  width: 80%; /* Make output box responsive */
}

p[id="output"] {
  color: #EEDF7A;
  margin-top: 1vh;
  text-align: center;
  font-size: 3vw; /* Adjust font size for responsiveness */
  overflow-wrap: break-word;
}

div p:hover {
  cursor: pointer;
}
